<div class="p-4 sm:p-8 min-h-screen bg-gray-50 flex flex-col items-center">
  <div class="w-full max-w-4xl">
    <div class="mt-8">
      <div
        class="p-4 bg-white border border-gray-200 rounded-xl shadow-lg leading-relaxed text-sm"
      >
        <pre class="whitespace-pre-wrap font-sans">
          @for (segment of getSegments(); track $index) {
            @if (segment.type == "json") {
              <nxt-json-view [data]="segment.content" [levelOpen]="0"></nxt-json-view>
            } @else {
              <span class="font-mono text-gray-800">{{ segment.content }}</span>
            }
          }
        </pre>
      </div>
    </div>
  </div>
</div>
