header {
  background-color: var(--color-base-content);
  color: var(--color-primary);
}

.logo {
  height: 17px;
  border-right: 1px solid rgba(172, 193, 47, 0.2);
  padding-right: 16px;
  margin-right: 16px;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}

.breadcrumbs {
}
