<header class="navbar shadow-sm">
  <div class="navbar-start">
    <app-header-dropdown></app-header-dropdown>
    <div class="flex items-center ml-2">
      <a routerLink="/" class="flex items-center">
        <img src="assets/images/logo.svg" alt="Kaval.AI Logo" class="h-8 w-auto mr-2 logo" />
      </a>
      @if (breadcrumbs().length > 0) {
        <div class="breadcrumbs text-sm text-primary">
          <ul>
            @if (activeProjectName && isProjectRoute) {
              <li>
                <a routerLink="/" class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"></path>
                  </svg>
                  {{ activeProjectName }}
                </a>
              </li>
            }
            @for (crumb of breadcrumbs(); track crumb.label) {
              <li>
                @if (crumb.link) {
                  <a [routerLink]="crumb.link" class="flex items-center">
                    @if ($first) {
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                      </svg>
                    }
                    {{ crumb.label }}
                  </a>
                } @else {
                  <div class="flex items-center">
                    @if ($first) {
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                      </svg>
                    }
                    {{ crumb.label }}
                  </div>
                }
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
  <div class="navbar-center hidden sm:flex">
  </div>
  <div class="navbar-end gap-2">
    <app-user-info></app-user-info>
  </div>
</header>
