@if (projects.length > 0) {
  <header>
    <h2>Projects</h2>
    <div>
      <label for="projectSelect">Current project: </label>
      <select id="projectSelect"
              (change)="onProjectSelect($event)"
              [value]="selectedProject?.id || ''">
        <option value="" disabled>-- Choose a Project --</option>
        @for (p of projects; track p.id) {
          <option [value]="p.id">{{ p.name }}</option>
        }
      </select>
      <button type="button" (click)="startNewProject()">+ Add new</button>
    </div>
  </header>
}

@if (projects.length > 0) {
<div class="centered">
  <main>
    <form [formGroup]="projectForm" class="form-container">
      <div class="form-field">
        <label for="name">Project Name</label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div class="form-field">
        <label for="desc">Description</label>
        <textarea id="desc" formControlName="description" rows="2"></textarea>
      </div>

      <div class="button-row">
          <button type="button" (click)="editProject()">Edit</button>
          @if (selectedProject?.role === 'owner') {
            <button type="button" class="btn-delete" (click)="deleteProject()">Delete</button>
          }
      </div>
    </form>
  </main>
</div>
} @else if (projects.length == 0) {
  <div class="centered">
    <h2>Projects</h2>
    <p>We don't have any projects.</p>
     @if (getIsAdmin()) {
      <button type="button" (click)="startNewProject()">Add New</button>
     } @else {
      <p>You don't have admin rights. Ask your system administrator to configure a new project.</p>
     }
  </div>
}
