.app-container {
}

app-sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
}

div.page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
}

app-user-info {
  position: fixed;
  top: 0;
  right: 0;
}
