.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-header {
  height: var(--header-height);
  flex-shrink: 0;
}

app-sidebar-menu {
  width: 200px;
  flex-shrink: 0;
}

div.page-container {
  flex: 1;
  overflow-y: auto;
}
