GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# App secret
SECRET_KEY=

# OpenAI
OPENAI_API_KEY=

# Gemini
GEMINI_API_KEY=

# Frontend URL
FRONTEND_URL=http://localhost:4200

# Backoffice Server
BACKOFFICE_HOST=0.0.0.0
BACKOFFICE_PORT=10888

# Postgres settings
KAVALAI_BO_DB_URI=postgresql://kavalai_dev:kavalai_dev@localhost:14000/kavalai_dev
KAVALAI_BO_DB_SCHEMA=backoffice

KAVALAI_DB_URI=postgresql://kavalai_dev:kavalai_dev@localhost:14000/kavalai_dev
KAVALAI_DB_SCHEMA=agents

# Agent Server
AGENT_PORT=11000

# Agent server basic auth credentials
HTTP_BASIC_AUTH_USER=user
HTTP_BASIC_AUTH_PASSWORD=pass

# NLP profiles
LLM_PROFILES_PATH=./llm_profiles
EMBEDDING_PROFILES_PATH=./embedding_profiles
