asyncpg
authlib
fastapi[standard]
fastmcp==2.14.2
feedparser
graphviz
httpx
openai
itsdangerous
mcp
psycopg2-binary
pytest
pytest-asyncio
python-dotenv
rich
sqlalchemy
json-schema-to-pydantic
pytest-cov
google-genai
