<div class="dropdown">
  <div #dropdownButton tabindex="0" role="button" class="btn btn-ghost btn-circle" (focus)="openMenu()" (blur)="closeMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
    </svg>
  </div>
  <div tabindex="-1" class="dropdown-content rounded-box mt-3 w-auto p-6 shadow flex flex-row gap-8 z-50" [class.hidden]="!isMenuOpen" (mousedown)="onMenuClick()">
    <ul class="menu p-0">
      <li><h2 class="menu-title">Admin</h2></li>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Projects</a></li>
      @if (isAdmin()) {
        <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      }
    </ul>
    <ul class="menu p-0 border-l border-base-content/10 pl-8">
      <li><h2 class="menu-title">Agents</h2></li>
      <li><a routerLink="/agents" routerLinkActive="active">Agents</a></li>
      <li><a routerLink="/conversations" routerLinkActive="active">Conversations</a></li>
      <li><a routerLink="/llm-call-stats" routerLinkActive="active">Model calls</a></li>
    </ul>
    <ul class="menu p-0 border-l border-base-content/10 pl-8">
      <li><h2 class="menu-title">RAG</h2></li>
      <li><a routerLink="/rag" routerLinkActive="active">RAG</a></li>
    </ul>
    <ul class="menu p-0 border-l border-base-content/10 pl-8">
      <li><h2 class="menu-title">Other</h2></li>
      <li><a routerLink="/theme" routerLinkActive="active">Theme</a></li>
    </ul>
  </div>
</div>
