@font-face {
  font-family: "Chakra Petch";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("/assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@plugin "daisyui/theme" {
  name: "kavalai";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* see https://daisyui.com/docs/colors/ */
  /* background color and shades for elevations + font color*/
  --color-base-100: #f4f4f6;
  --color-base-200: #e5e5e8;
  --color-base-300: #d6d6da;
  --color-base-content: #273e47;

  /* primary brand color */
  --color-primary: #acc12f;
  --color-primary-content: #273e47;

  /* secondary color */
  --color-secondary: #b185a7;
  --color-secondary-content: #f3fbf6ff;

  /* other colors */
  --color-accent: #1b998b;
  --color-accent-content: #f3fbf6ff;

  --color-neutral: #a8a8af;
  --color-neutral-content: #f3fbf6ff;

  --color-info: #6d9999;
  --color-info-content: #f3fbf6ff;

  --color-success: #809537;
  --color-success-content: #f3fbf6ff;

  --header-bg: #4d5c65;
  --dropdown-bg: #e5e5e8;

  --color-warning: #e67f0d;
  --color-warning-content: #273e47;

  --color-error: #82204a;
  --color-error-content: #f3fbf6ff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* fonts */
  --default-font-family: var(--font-family-body);
  --font-family: var(--font-family-body);
  --font-weight: 500;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-family-header: "Chakra Petch", sans-serif;
  --font-family-body: "Space Grotesk", sans-serif;
  --font-family-accent: "Space Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
}

.accent-font,
code,
pre,
kbd,
samp,
.mono {
  font-family: var(--font-family-accent);
}
