<div class="chat-user-input-container">
  <textarea
    matInput
    rows="1"
    placeholder="Ask AI"
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="20"
    [(ngModel)]="messageContent"
    (keydown)="handleKeydown($event)"
  >
  </textarea>
  <mat-icon
    fontIcon="send"
    (click)="submitUserInput()"
    [class]="{'hidden-icon': !messageContent.length}"
  ></mat-icon>
  <p class="tooltip">Use Shift+Enter for a line break</p>
</div>
