<div class="login-header">
  <div class="header-links">
    <a href="https://kaval.ai" target="_blank"><img src="assets/images/iconlogo.svg" alt="Kaval.AI" class="website_logo"/></a>
    <a href="https://docs.kaval.ai" target="_blank">Docs</a>
    <a href="https://github.com/kavalai/kavalai" target="_blank">GitHub</a>
    <a href="https://pypi.org/project/kavalai/" target="_blank">PyPI</a>
  </div>
</div>

<div class="login-container">
  <img src="assets/images/logo.svg" alt="Kaval.AI" class="login-logo" />
  <h1 class="login-subtitle">Agent automation toolkit</h1>
  <button class="header-login-button" (click)="login()">Sign in with Google</button>
</div>
