.dropdown-content {
  background-color: var(--color-base-200);
  color: var(--color-base-content);
}

.user-details {
  display: flex;
  align-items: center;
  text-transform: none;
}

.user-name {
  margin-right: 10px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
