<div class="dropdown dropdown-end">
  <div #dropdownButton tabindex="0" role="button" class="btn btn-ghost user-details" (focus)="openMenu()" (blur)="closeMenu()">
    <span class="user-name hidden md:inline">{{ userDetails?.name }}</span>
    <img [src]="userDetails?.picture" alt="User Image" class="user-avatar" />
  </div>
  <div tabindex="-1" class="dropdown-content rounded-box mt-3 w-52 p-2 shadow z-50" [class.hidden]="!isMenuOpen" (mousedown)="onMenuClick()">
    <ul class="menu p-2">
      <li><a (click)="editProfile()">User profile</a></li>
      <div class="divider my-1"></div>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
