<nav class="menu-items">
  <ul>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Projects</li>
    @if (isAdmin()) {
      <li routerLink="/users" routerLinkActive="active">Users</li>
    }
    <li routerLink="/agents" routerLinkActive="active">Agents</li>
    <li routerLink="/conversations" routerLinkActive="active">Conversations</li>
    <li routerLink="/llm-call-stats" routerLinkActive="active">Model calls</li>
    <li routerLink="/rag" routerLinkActive="active">RAG</li>
  </ul>
</nav>
