.user-info-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  margin-right: 30px;
}

.user-name {
  font-weight: bold;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.menu button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.menu button:hover {
  text-decoration: underline;
}