<div class="chat-thread-container" [ngClass]="{'empty': isEmptyChat()}">
  <div class="chat-messages-container" #messagesContainer [ngClass]="{'empty': isEmptyChat()}">
    @for (message of messages; track message.uuid) {
    <app-chatmessage [item]="message"></app-chatmessage>
    } @empty {
    <div class="no-messages-placeholder">
      No messages yet. Start the conversation!
    </div>
    }
  </div>
  <div class="chat-input-container" [ngClass]="{'empty': isEmptyChat()}">
    <app-chat-user-input
      (textSubmitted)="onUserInputSubmitted($event)"></app-chat-user-input>
  </div>
</div>
